@page "/speech-to-text"
<PageTitle>Telerik UI for Blazor | AI Showcase </PageTitle>

<TelerikCard>
    <CardBody>
        <div class="k-d-flex k-flex-col k-w-full k-gap-4 k-align-items-center k-box-sizing-border k-p-4 ">
            <div class="k-d-grid k-grid-cols-1 k-gap-4">
                <div class="k-border k-border-solid k-border-border k-bg-surface-alt k-align-items-center k-text-start k-p-3 k-gap-2 k-rounded-md">
                    <label>Your output will appear here:</label>
                    <hr />
                    <p>@recognizedTextDisplay</p>
                </div>
                <div class="k-d-flex k-border k-border-solid k-border-border k-bg-surface-alt k-align-items-center k-text-start k-p-3 k-gap-2 k-rounded-md">
                    <span class="k-font-size-sm k-line-height-lg k-color-subtle">Press the record button to beign using your microphone.</span>

                    <SpeechToTextButton Id="record-button"
                    OnRecongizededText="OnRecognizedText" />
                </div>
            </div>
        </div>

    </CardBody>
</TelerikCard>

<TelerikPopover @ref="@InfoPopover"
AnimationType="@AnimationType.Fade"
AnchorSelector="#record-button"
Collision="@PopoverCollision.Flip"
Offset="20"
Position="@PopoverPosition.Bottom"
Width="300px">
    <PopoverHeader>
        Try me!
    </PopoverHeader>
    <PopoverContent>
        <p>Clicking the record button will initialize your microphone and use Speech-to-text translation.</p>
    </PopoverContent>
    <PopoverActions>
        <TelerikButton Icon="@SvgIcon.XCircle" OnClick="@ClosePopover">Close</TelerikButton>
    </PopoverActions>
</TelerikPopover>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(TimeSpan.FromSeconds(5));
            if (recognizedTextDisplay == defaultText)
            {
                InfoPopover?.Show();
                StateHasChanged();
            }
        }
    }
    const string defaultText = "Click the record button below to see your text appear here.";
    string recognizedTextDisplay = defaultText;

    TelerikPopover? InfoPopover { get; set; }

    void OnRecognizedText(string recognizedText)
    {
        recognizedTextDisplay = recognizedText;
    }

    void ClosePopover()
    {
        InfoPopover?.Hide();
    }
}
